## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.assets.json
project.lock.json

## Visual Studio
.vs/
*.rsuser
*.sln.docstates
launchSettings.json
.github/

## Rider
.idea/
*.sln.iml

## User-specific files
*.user
*.suo
*.cache
*.dbmdl
*.jfm

## Publish output
publish/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## Salesforce metadata cache
.sfdx/